# FPGA build logs
source/*/*.log

# Python droppings
*.py[cod]

# Packages
build
dist
*.egg-info
*.egg
/doc/_build

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.noseids

# sphinx-droppings
/katreport
/katreport.rst
/index.rst
index.rst
# Developer tools
.ropeproject
*~
debugging/ipython_notebooks/
debugging/katreport/
debugging/logging
debugging/os
debugging/time
logs_bc8n856M32k/
logs_bc8n856M4k/
mkat_fpga_tests/bf_data/
supplemental/MeerKAT-20042017.xml
supplemental/MeerKAT_20160512.xml
venv/
tmp/

nosekatreport
