autoconf
automake
bison
build-essential
colordiff
curl
dialog
flex
gfortran
git
iptables-persistent
libatlas-base-dev
libboost-all-dev
libffi-dev
libfreetype6-dev
libglib2.0-dev
libgtk2.0-dev
libhdf5-dev
libopenblas-dev
libpcap-dev
libpcap0.8-dev
libpng12-dev
libssl-dev
pkg-config
python-dev
python-scipy
smcroute
swig
tk-dev
wireshark-dev