autoconf
automake
bison
build-essential
colordiff
curl
dialog
flex
gfortran
git
gcc
g++
libatlas-base-dev
libboost-all-dev
libffi-dev
libfreetype6-dev
libglib2.0-dev
libgtk2.0-dev
libhdf5-dev
libopenblas-dev
libpcap-dev
libpcap0.8-dev
libpng-dev
libssl-dev
pkg-config
python-dev
smcroute
swig
latexmk
texlive-base
texlive-font-utils
texlive-fonts-extra
texlive-fonts-recommended
texlive-latex-base
texlive-latex-extra
texlive-latex-recommended
tk-dev
wireshark-dev
