autoconf
automake
bison
build-essential
flex
libboost-all-dev
libfreetype6-dev
libglib2.0-dev
libgtk2.0-dev
libhdf5-dev
libpcap-dev
libpcap0.8-dev
libpng12-dev
pkg-config
python-dev
tk-dev
wireshark-dev
gfortran
swig
dialog
libopenblas-dev
libssl-dev
libffi-dev
