git+https://github.com/ska-sa/nosekatreport.git@karoocbf#egg=nosekatreport
termcolor
alabaster
ansicolors
argcomplete
bitstring
bokeh
breathe
chainmap
click
coloredlogs
coverage
crypto
cryptography
dpkt
fabric
fire
flake8
jinja2>=2.9.0
flake8-html
h5py
idna==2.5
iniparse
ipdb
ipynose
ipython
jenkinsapi
katcp
lxml
matplotlib==2.0.2
memory_profiler
mock
mpld3
ndg-httpsclient
nose
nose-testconfig
nosexcover
ntplib
numpy>=1.13.3
pandas
pandas
parameterized
paramiko>=2.4
pep8
pexpect
pillow
pyasn1
pycrypto
pylint
pyOpenSSL
PyPDF2
python-dotenv
pyserial
requests[security]
retrying
sh
sphinx
sphinxcontrib-napoleon
tornado==4.3
traceback2
trollius

# Uncomment below if running a development environment
git+https://github.com/ska-sa/casperfpga@devel#egg=casperfpga
git+https://github.com/ska-sa/corr2@devel#egg=corr2


