git+https://github.com/ska-sa/nosekatreport.git@karoocbf#egg=nosekatreport
alabaster
ansicolors
argcomplete
bitstring
bokeh
breathe
chainmap
coloredlogs
coverage
crypto
cryptography
dpkt
fire
flake8
flake8-html
h5py
idna>=2.5
iniparse
ipdb
ipynose
ipython
jenkinsapi
katcp
lxml
matplotlib==2.0.2
memory_profiler
mock
mpld3
ndg-httpsclient
nose
nose-testconfig
nosexcover
ntplib
numpy>=1.13.3
pandas
parameterized
paramiko>=2.4
pep8
pexpect
pillow
pyasn1
pycrypto
pylint
pyOpenSSL
PyPDF2
pyserial
python-dotenv
requests[security]
retrying
scipy==1.1.0
sh
sphinx
sphinxcontrib-napoleon
termcolor
tornado==4.3
traceback2
trollius
nose-htmloutput

# Uncomment below if not installing these packages from a local source
# git+https://github.com/ska-sa/casperfpga#egg=casperfpga
# git+https://github.com/ska-sa/corr2#egg=corr2
# git+https://github.com/ska-sa/katcp-python#egg=katcp
# git+https://github.com/ska-sa/PySPEAD#egg=spead
# git+https://katpull:katpull4git@github.com/ska-sa/katpoint.git#egg=katpoint


